@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Terminal_Report;

<h1>Scholar's Certified Terminal Report Form</h1>

<table class="table table-hover">
    <tr>
        <th>Email Address:</th>
        <td>@Model.ScholarEmailAddress</td>
    </tr>
    <tr>
        <th>Term:</th>
        <td>@Model.TR_Term</td>
    </tr>
    <tr>
        <th>Academic Year:</th>
        <td>@Model.TR_AcademicYear</td>
    </tr>
    <tr>
        <th>File Name:</th>
        <td>@Model.TR_FileName</td>
    </tr>
    <tr>
        <th>File Path:</th>
        <td>@Model.TR_FilePath</td>
    </tr>
    <tr>
        <th>Date Uploaded:</th>
        <td>@Model.TR_DateUploaded</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>@Model.TR_Status</td>
    </tr>
</table>

<a style="color: white;" class="btn btn-primary" asp-action="AdminCG">Return</a>
