@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Certified_Grades
<h1>Certified True Copy of Grades</h1>
<hr />
<table class="table table-hover">
    <tr>
        <th hidden>Id:</th>
        <td hidden>@Model.CG_ID</td>
    </tr>
    <tr>
        <th>Email Address:</th>
        <td>@Model.ScholarEmailAddress</td>
    </tr>
    <tr>
    <tr>
        <th>Term:</th>
        <td>@Model.CG_Term</td>
    </tr>
    <tr>
    <tr>
        <th>Academic Year:</th>
        <td>@Model.CG_AcademicYear</td>
    </tr>
    <tr>
        <th>File Name:</th>
        <td>@Model.CG_FileName</td>
    </tr>
    <tr>
        <th>File Path:</th>
        <td>@Model.CG_FilePath</td>
    </tr>
    <tr>
        <th>Date Uploaded:</th>
        <td>@Model.CG_DateUploaded</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>@Model.CG_Status</td>
    </tr>
</table>

<button type="button" onclick="history.back()" class="btn btn-secondary">Return</button>
