@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ProjectSmart.Models.Registration_Form>;

<h1 id="titles" class="d-flex justify-content-start mt-2 pt-2 ms-5 ps-5">UPLOAD REQUIREMENTS: Scholar's Registration Form</h1>

<hr>

<a class="btn btn-success" asp-action="UploadRF">Upload Scholar's Registration Form</a>

<hr />

<br />

<table class="table table-hover table-sm">
    <tr>
        <th>Term</th>
        <th>Academic Year</th>
        <th>Status</th>
        <th>Date of Upload</th>
        <th>Actions</th>
    </tr>

    @foreach (var rf in Model)
    {
        <tr>
            <td>@rf.RF_Term</td>
            <td>@rf.RF_AcademicYear</td>
            <td>@rf.RF_Status</td>
            <td>@rf.RF_DateUploaded</td>
            <td><a style="color: white;" class="btn btn-primary" asp-action="ViewRF" asp-route-id="@rf.RF_ID">Preview</a></td>
            <td><a style="color: white;" class="btn btn-primary" asp-action="UpdateRF" asp-route-id="@rf.RF_ID">Update</a></td>

        </tr>
    }
</table>